
body {
    margin: 0;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(231, 231, 231);
    
}



.logo {
    color: white;
    text-shadow: 2px 1px black;
    font-size: 36px;
    padding: 0px 16px;
    display: inline-block;

}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	width: 500px;
	display: block;
	padding: 20px 30px;
	font-size: 26px;
	text-decoration: none;
	color: white;
}

.nav .close {
	position: absolute;
	top: 0;
	margin-right: 50px;
	font-size: 30px
}
.nav .close:hover {
	color: #fff;
	transition: 0.4s;
}
.slide a {
    position: absolute;
    top: 20px;
	right: 50px;
	color: #000;
    font-size: 36px;
    text-decoration: none;
}

.slide a:hover {
    color: #aaa;
    transition: 0.4s;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}


#aboutButton {
    position: absolute;
    top: 20px;
    right: 70px;
    height: 50px;
    font-size: 24;
    text-decoration: none;
    color: black;
    text-shadow: none ;
    
}

#book {
    position: fixed;
    top: 50%;
    left:  50%;
    margin-left: -750px;
    margin-top: -353px;
    
}
#flipbook{

    width:1000px;
    height:707px;
    padding: 20px 0px;
}

.flip-control {
    top: 45%;
    width: 50px;
    height: 100px;
    position: absolute;
}

#next {
    right: 0;
}

#mybook .turn-page{
	background-color:#ccc;
}

.page {
    background-color: white;
}
