@font-face {
    font-family: PBlack;
    src: url(include/Fonts/Pangram-Black.otf);
}
    @font-face {
    font-family: PLight;
    src: url(include/Fonts/Pangram-ExtraLight.otf);

}
    @font-face {
    font-family: PRegular;
    src: url(include/Fonts/Pangram-Regular.otf);
  }

#test1 {
    font-family: PLight;
    font-size: 200%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(231, 231, 231);   
}


.logo {
    width: 100%;
    position: relative;
    display: inline-block;
    padding-top: 0.5%;
    z-index: 2;    

}
.logoGif {
    width: 6%;
    height: auto;
    display: inline-block;
    min-width: 100px;
}

.logoLuna {
    width: 6%;
    height: auto;
    display: inline-block;
    transition: 0.4s ease-in-out;
    min-width: 100px;
}

.logoLuna:hover {
    opacity: 0.2;

}

#about {
    width: 5.5%;
    height: auto;
    position: absolute;
    top: 40%;
    right: 2%;
    transition: 0.4s ease-in-out;
    min-width: 100px;
   
}

#about:hover {
    opacity: 0.2;
    
}

#aboutContent {
    position: absolute;
    width: 80%;
    height: auto;
    top: 20%;
    left: 10%;
}

.nav {
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 3;
	top: 0;
	right: -25%;
	background-color: #e2e1ce;
	overflow-x: hidden;
	padding-top: 3%;
	transition: 0.7s;
}

.nav .close {
    position: absolute;
    width: 6%;
    height: auto;
    top: 2%;
    right: 4%;

}
.nav .close img {
    width: 80%;
    height: auto;
    transition: 0.4s;
}
.nav .close:hover {
	opacity: 0.2;
}


.slide a:hover {
    color: #aaa;
    transition: 0.4s;
}

#content {
	transition: margin-left 0.3s;
	overflow: hidden;
	width: 100%;
}

#book {
    width: 1040px;
    height: 700px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -520px;
    margin-top: -353px;
}

#flipbook{
    width: 1040px;
    height: 700px;
    transition: 0.3s;
}

.flip-control {
    top: 45%;
    width: 2%;
    height: auto;
    position: absolute;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.flip-control:hover {
    opacity: 0.2;
    
}

#prev {
    left: 10%;
    min-width: 20px;
}
#next {
    right: 10%;
    min-width: 20px;
}

#mybook .turn-page{
	background-color:#ccc;
}

.page {
    width: auto;
    text-align: center;
    background-color: white;
}
.page img {
    max-width: 100%;
    height: auto;
}

#sencaPlatnica {
    position: absolute;
    height: 770px;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-left: -285px;
    margin-top: -388px;
}
#senca {
    position: absolute;
    height: auto;
    width: 0;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    margin-top: 333px;
    transition: 0.5s;
    opacity: 0;
}

#surprise {
    position: absolute;
    width: 2%;
    height: auto;
    bottom: 2%;
    right: 2%;
    z-index: 6;
    transition: 0.7s;
    min-width: 20px;
}

#surprise:hover {
    opacity: 0.2;
}

#surpriseClose {
    position: absolute;
    width: 1.5%;
    height: auto;
    bottom: 1.8%;
    right: 2.2%;
    z-index: 5;
    transition: 0.7s;
    opacity: 0;
    min-width: 20px;
}

#surpriseClose:hover {
    opacity: 0.2;
}

#contactArrow {
    width: 3%;
    height: auto;
    position: absolute;
    bottom: 7%;
    right: 3.5%;
    animation-iteration-count: infinite
}

#foot {
    height: 11%;
	width: 100%;
	position: fixed;
    z-index: 5;
    left: 0;
	bottom: -12%;
	background-color:#285D28;
	overflow: hidden;
	transition: 0.7s;  
}

#footerContent {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 30%;

}
section .scroll {
    width: 100%;
    height: 50%;
    display: flex;
}
section .scroll div {
    margin-top: -1%;
    display: absolute;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 160s linear infinite;
    animation-delay: -160s;
}

section .scroll div:nth-child(2) {
    animation: animate2 160s linear infinite;
    animation-delay: -80s;
}

section .scroll div p {
    display: inline-block;
    font-size:calc(1px + 1.5vw);
}

.text1 {
    font-family: PBlack;
}

.text2 {
    font-family: PLight;
}


@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.links {
    width: 20%;
    height: 40%;
    position: absolute;
    display: inline-block;
    
    bottom: 0;
    border-bottom: none;
}

.linksIcons {
    height: 23%;
    width: auto;
    left: 48%;
    margin-bottom: -2%;
    margin-right: 0.05%;
    position: relative;
    text-decoration: none;
    border-bottom: none;
}

#mail:hover {
    opacity: 0.2;
    transition: 0.4s ease-in-out;
}

#ig {
    margin-right: 0.15%;
}

#ig:hover {
    opacity: 0.2;
    transition: 0.4s ease-in-out;
}

#heart:hover {
    opacity: 0.2;
    transition: 0.4s ease-in-out;
}

#rights {
    position: absolute;
    bottom: 10%;
    left: 1%;
    width: 10%;
    height: auto;
}


#marsIm {
    position: absolute;
    width: 50%;
    height: auto;
    left: 10%;
    transition: 0.7s;
    bottom: -100%; 
    z-index: 4;
    min-width: 500px;

}

#marsTxt {
    position: absolute;
    width: 20%;
    height: auto;
    right: 18%;
    transition: 0.7s;
    bottom: -100%; 
    z-index: 4;
    min-width: 100px; 
}

#surpriseBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e2e1ce;
    opacity: 0.8;
    visibility: hidden;

}

#loader-wrapper {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e2e1ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite
}
@keyframes loader{
    50% {
        color: #285D28;
    }
    to {
        transform: rotate(360deg);
    }
}